body{
  padding:20px 20px;
  text-align: center;
}

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}
table {
  text-align: center;
}
html {
  text-align: center;
}

